.project-slide {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-slide img {
    max-width: 100%;
  }
  
  .project-slide b {
    font-size: 1.2em;
  }
  
  .project-slide p {
    font-size: 0.9em;
    color: #555;
  }
  
  .project-slide ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .project-slide a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .project-slide a:hover {
    text-decoration: underline;
  }

  .project-carousel {
    position: relative;
  }


  .pics {
    width: 800px; 
    height: 150px; 
  }

