.icons {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    width: 5%;
}

:hover.icons {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}