.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.icons {
    height: 50px;
    width: 5%;
    margin: 10px; /* Add some margin between icons for better spacing */
}

.icons:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .icons {
        width: 10%; /* Adjust the width for smaller screens */
    }
}

@media (max-width: 480px) {
    .icons {
        width: 15%; /* Further adjust the width for even smaller screens */
    }
}

.center {
    display: flex;
    justify-content: center;
}
